:root {
    --primary-cyan: hsl(193, 38%, 86%);
    --primary-green: hsl(150, 100%, 66%);
    --neutral-blue: hsl(217, 19%, 38%);
    --neutral-DarkGrayishBlue: hsl(217, 19%, 24%);
    --neutral-DarkBlue: hsl(218, 23%, 16%);
    --quote-size: 28px;
}

body {
    background-color: var(--neutral-DarkBlue);
    display: grid;
    place-items: center;
    height: 100vh;
    font-family: 'Manrope', sans-serif;
}

.container {
    border: 1px solid transparent;
    background-color: var(--neutral-DarkGrayishBlue);
    border-radius: 6px;
    width: fit-content;
    padding: 15px 20px;
    position: relative;
}

.container span {
    letter-spacing: 3px;
    display: flex;
    justify-content: center;
    align-items: center;
    height: 0px;
    padding: 15px;
    font-size: 12px;
    color: #48C18C;
    font-weight: 800;
}

.container span #ida {
    display: inline;

}

.container #quote {
    display: block;
    font-size: var(--quote-size);
    color: var(--primary-cyan);
    text-align: center;
}

.container .divider-desktop {
    display: block;
    margin: 30px auto;
    padding: 20px;
}


.container .circled {
    height: 60px;
    background-color: var(--primary-green);
    width: 60px;
    border-radius: 50%;
    font-size: 24px;
    border: none;
    position: absolute;
    display: flex;
    align-items: center;
    justify-content: center;
    cursor: pointer;
    transform: translateX(-50%);
    left: 50%;
    bottom: -30px;
    transition: 0.3s;
}

.container .circled:hover {
    box-shadow: 0 0 5px var(--primary-green), 0 0 10px var(--primary-green), 0 0 20px var(--primary-green), 0 0 40px var(--primary-green);
}

@media (max-width:375px) {
    .container .divider-desktop {
        content: url(images/pattern-divider-mobile.svg);
    }
}